<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357510000311-grbsv7t15bab98plmcrlpbq82bubfjij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357510000311-grbsv7t15bab98plmcrlpbq82bubfjij</string>
	<key>API_KEY</key>
	<string>AIzaSyALC7dNwzvxWPYzxsKJ5xRY14meRo7kihI</string>
	<key>GCM_SENDER_ID</key>
	<string>357510000311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app---flutter-f4800</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app---flutter-f4800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357510000311:ios:b545d72e06b161444e2732</string>
</dict>
</plist>